 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 552px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  width: 728px;
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-1 .u-accordion-1 {
  width: 713px;
  margin: 60px auto;
}

.u-section-1 .u-accordion-link-1 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-1 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-2 {
  margin-top: 0;
  font-size: 1.125rem;
  font-style: italic;
}

.u-section-1 .u-accordion-link-2 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-2 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-text-3 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-3 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-3 {
  min-height: 150px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-text-4 {
  margin-top: 0;
}

.u-section-1 .u-accordion-link-4 {
  letter-spacing: 0px;
  font-size: 1.25rem;
  font-weight: 600;
  text-transform: none;
  padding: 15px 30px;
}

.u-section-1 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-1 .u-accordion-pane-4 {
  min-height: 180px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-text-5 {
  margin: 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-accordion-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
  }

  .u-section-1 .u-accordion-1 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1037px;
}

.u-section-2 .u-text-1 {
  width: 537px;
  margin: 30px auto 0;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  margin: 20px 301px 0 302px;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 30px auto 30px 0;
}

.u-section-2 .u-image-1 {
  background-image: url("images/NTY_Visual_Works_Portofoliu/Albumeptsite/webp/NTY_Visual_Works_Albume_Fotografii_Brasov (1).webp");
  background-position: 50% 50%;
  min-height: 507px;
}

.u-section-2 .u-container-layout-1 {
  padding: 20px;
}

.u-section-2 .u-image-2 {
  background-image: url("images/NTY_Visual_Works_Portofoliu/Albumeptsite/webp/NTY_Visual_Works_Albume_Fotografii_Brasov (2).webp");
  background-position: 50% 50%;
  min-height: 507px;
}

.u-section-2 .u-container-layout-2 {
  padding: 20px;
}

.u-section-2 .u-image-3 {
  background-image: url("images/NTY_Visual_Works_Portofoliu/Albumeptsite/webp/NTY_Visual_Works_Albume_Fotografii_Brasov (3).webp");
  background-position: 50% 50%;
  min-height: 253px;
}

.u-section-2 .u-container-layout-3 {
  padding: 20px;
}

.u-section-2 .u-image-4 {
  background-image: url("images/NTY_Visual_Works_Portofoliu/Albumeptsite/webp/NTY_Visual_Works_Albume_Fotografii_Brasov (4).webp");
  background-position: 50% 50%;
  min-height: 253px;
}

.u-section-2 .u-container-layout-4 {
  padding: 20px;
}

.u-section-2 .u-image-5 {
  min-height: 253px;
  background-image: url("images/NTY_Visual_Works_Portofoliu/Albumeptsite/webp/NTY_Visual_Works_Albume_Fotografii_Brasov (5).webp");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-2 .u-text-1 {
    font-family: Roboto, sans-serif;
  }

  .u-section-2 .u-text-2 {
    width: 537px;
    margin-right: 201px;
    margin-left: 202px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-1 {
    min-height: 418px;
  }

  .u-section-2 .u-image-2 {
    min-height: 418px;
  }

  .u-section-2 .u-image-3 {
    min-height: 209px;
  }

  .u-section-2 .u-image-4 {
    min-height: 209px;
  }

  .u-section-2 .u-image-5 {
    min-height: 209px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 91px;
    margin-left: 92px;
  }

  .u-section-2 .u-image-1 {
    min-height: 320px;
  }

  .u-section-2 .u-image-2 {
    min-height: 320px;
  }

  .u-section-2 .u-image-3 {
    min-height: 160px;
  }

  .u-section-2 .u-image-4 {
    min-height: 160px;
  }

  .u-section-2 .u-image-5 {
    min-height: 160px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 1px;
    margin-left: 2px;
  }

  .u-section-2 .u-image-1 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 720px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-5 {
    min-height: 360px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    min-height: 227px;
  }

  .u-section-2 .u-image-2 {
    min-height: 453px;
  }

  .u-section-2 .u-image-3 {
    min-height: 227px;
  }

  .u-section-2 .u-image-4 {
    min-height: 227px;
  }

  .u-section-2 .u-image-5 {
    min-height: 227px;
  }
}